<!DOCTYPE html>
<html lang="en" ng-app="foreverDeploy" ng-controller="MainCtrl as main">
<head>
    <meta charset="utf-8" />
    <title>ForeverDeploy: {{pageTitle}}</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/vendor/fontawesome/virtual/icons")
    @Styles.Render("~/Content/css/site")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="main" >
    <header>
    </header>
    <div id="body">
        <div class="nav">
            @*<img class="brandLogo" src="~/Content/img/FDLogo128.png" />*@
            <div class="brand">ForeverDeploy</div>
            <div class="spacerRight"></div>
            <div class="navLink"><a href="/GetStarted">Get Started</a></div>
            <div class="navLink"><a href="/Dashboard">Dashboard</a></div>
        </div>
        <section class="content-wrapper main-content clear-fix">
            <div class="loading" ng-show="!connected || loading">
                <h2>Connecting</h2>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div ng-view></div>
        </section>
    </div>
    <img class="branding" src="~/Content/img/FDLogo128.png" />
    <footer>
        <div class="content-wrapper">
            <div class="cc">
                <p>&copy; @DateTime.Now.Year - Jared Prather</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/Content/js/site")
    <script>
        initialize();
    </script>
</body>
</html>
